#!/bin/bash

touch /home/opc/bootstrap.log
chown -R opc:opc /home/opc/bootstrap.log

# Update and upgrade repo
dnf update -y | tee -a /home/opc/bootstrap.log
dnf upgrade -y | tee -a /home/opc/bootstrap.log

# dnf install python3-firewall -y | tee -a /home/opc/bootstrap.log

dnf install ansible -y | tee -a /home/opc/bootstrap.log

# Get backend_jar
curl "${backend_jar_par_full_path}" -o /home/opc/backend_jar.tar.gz | tee -a /home/opc/bootstrap.log

# Extract backend_jar
mkdir /home/opc/backend
tar xzf /home/opc/backend_jar.tar.gz -C /home/opc/backend | tee -a /home/opc/bootstrap.log && \
    rm /home/opc/backend_jar.tar.gz
chown -R opc:opc /home/opc/backend

# Get ansible_backend
curl "${ansible_backend_par_full_path}" -o /home/opc/ansible_backend.tar.gz | tee -a /home/opc/bootstrap.log

# Extract ansible_backend
mkdir /home/opc/ansible_backend
tar xzf /home/opc/ansible_backend.tar.gz -C /home/opc/ansible_backend | tee -a /home/opc/bootstrap.log && \
    rm /home/opc/ansible_backend.tar.gz
chown -R opc:opc /home/opc/ansible_backend

cat <<EOT >> /home/opc/ansible_params.json
{
  "backend_dest_directory": "/home/opc/backend",
  "backend_jar_file": "backend-0.0.1.jar",
  "region_code_name": "${region_code_name}",
  "compartment_id": "${compartment_id}",
  "genai_endpoint": "${genai_endpoint}",
  "genai_model_id": "${genai_model_id}"
}
EOT
chown opc:opc /home/opc/ansible_params.json

cat <<EOT >> /home/opc/server.ini
[backend]
localhost ansible_connection=local ansible_user=root

[backend:vars]
ansible_python_interpreter="/usr/bin/python3"
EOT
chown opc:opc /home/opc/server.ini

touch /home/opc/ansible-playbook.log
chown opc:opc /home/opc/ansible-playbook.log
ANSIBLE_PYTHON_INTERPRETER="/usr/bin/python3" ansible-galaxy collection install ansible.posix | tee -a /home/opc/ansible-playbook.log

ANSIBLE_PYTHON_INTERPRETER="/usr/bin/python3" ansible-playbook \
    -i /home/opc/server.ini \
    --extra-vars "@/home/opc/ansible_params.json" \
    /home/opc/ansible_backend/server.yaml | tee -a /home/opc/ansible-playbook.log

# firewalld issue https://github.com/ansible-collections/ansible.posix/issues/75
