spring:
  main:
    banner-mode: "off"
  profiles:
    active: production
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@{{db_service}}_high?TNS_ADMIN=/home/opc/backend/wallet
    username: ADMIN
    password: {{db_password}}
    type: oracle.ucp.jdbc.PoolDataSource
    oracleucp:
      sql-for-validate-connection: SELECT * FROM dual
      connection-pool-name: connectionPoolName1
      initial-pool-size: 5
      min-pool-size: 5
      max-pool-size: 10
  jpa:
    hibernate:
      use-new-id-generator-mappings: false
      ddl-auto: update
oracle:
  jdbc:
    fanEnabled: true

genai:
  endpoint: "{{genai_endpoint}}"
  region: "{{region_code_name}}"
  config:
    location: ""
    profile: ""
  compartment_id: "{{compartment_id}}"
  model_id: "{{genai_model_id}}"
