region                = "{{ regionName }}"
tenancy_ocid          = "{{ tenancyId }}"
compartment_ocid      = "{{ compartmentId }}"
ssh_public_key        = "{{{ ssh_public_key }}}"
cert_fullchain        = "{{{ cert_fullchain }}}"
cert_private_key      = "{{{ cert_private_key }}}"